.middle__box__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100px;
  background-color: black;
  color: white;
}
.middle__box__grid {
  align-self: center;
  justify-self: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100px;
  background-color: black;
  color: white;
}
