$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 60em; // 900px
$bp-small: 37.5em; // 600px
$bp-midsmall: 34.375em; // 550px
$bp-smallest: 31.25em; // 500px
$bp-uppermicro: 25em; // 400px
$bp-micro: 22.8125em; // 365px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-midsmall) {
    font-size: 35%;
  }
}
